In [2]:
import pandas as pd
import hickle
import numpy as np
import pickle

In [2]:
def writePickle(filename,a):
    with open(filename, 'wb') as handle:
        pickle.dump(a, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [3]:
def addElementToDict(d,subfeat,len,new_c,new_c_name):
    #new_c : new coloumn
    d_out = d
    for i in range(0,len):
        d_out[subfeat][i][new_c_name] = np.float32(new_c[i,:,:])
    return d_out

In [8]:
def mergeDatasets(domain,source):
    org_path = "RGB_Audio_features/test_feat_rgb_audio_"+domain+"_"+source+".pkl"
    audio_path = "Flow_feat/ek_i3d/"+domain+"-"+domain+"_"+source+".pkl"
    data = pd.DataFrame(pd.read_pickle(org_path))
    dic_org = pd.read_pickle(org_path)

    with open(audio_path, 'rb') as f:
        prova= pickle.load(f)

    new_feats = prova["features"]["Flow"]
    
    #Method 1
    #old_dataset = data.to_dict()
    old_dataset = dic_org
    new_dataset = addElementToDict(old_dataset,"features",data.shape[0],new_feats,"features_flow")
    
    filename = "RGB_Audio_Flow_features/test_feat_rgb_audio_flow_"+domain+"_"+source+".pkl"
    writePickle(filename,new_dataset)
    #df.to_pickle(filename)

In [9]:
#original features path:
domain = ["D1","D2","D3"]
source = ["train","test"]

for d in domain:
    for s in source:
        mergeDatasets(d,s)

# Prove

In [3]:
path_prova = "RGB_Audio_Flow_features/test_feat_rgb_audio_flow_D1_test.pkl"
#path_prova = "RGB_Audio_features/test_feat_rgb_audio_flow_D1_test.pkl"
data = pd.DataFrame(pd.read_pickle(path_prova)['features'])

In [10]:
data

,uid,video_name,features_RGB,features_audio,features_flow
0,13744,P08_09,"[[0.13747904, 0.23923221, 0.2590953, 0.0984913...","[[0.88483644, 0.09178007, 0.47732332, 1.296371...","[[0.46731305, 0.19677353, 0.46114296, 0.065304..."
1,13747,P08_09,"[[0.1731059, 0.028000666, 0.071734056, 0.09211...","[[0.5805651, 0.07894321, 0.12858108, 0.8904043...","[[0.07150991, 0.0096373735, 0.2364182, 0.00396..."
2,13748,P08_09,"[[0.21590331, 0.043752804, 0.43052337, 0.29836...","[[1.436042, 0.6993999, 0.12094874, 1.1587638, ...","[[0.11344236, 0.052841015, 0.0825015, 0.0, 0.1..."
3,13749,P08_09,"[[0.12467901, 0.2825011, 0.5454443, 0.24309717...","[[0.33839667, 0.36650792, 0.512727, 0.23318793...","[[0.019620085, 0.18086638, 0.07106747, 0.02155..."
4,13751,P08_09,"[[0.26293403, 0.012039756, 0.20156315, 0.10622...","[[1.836372, 0.81088006, 0.24754378, 0.3652511,...","[[0.290668, 0.018503323, 0.058588374, 0.013658..."
...,...,...,...,...,...
430,14431,P08_17,"[[0.08767702, 0.0003429865, 0.41994748, 0.0334...","[[0.8588063, 1.6948118, 0.5995295, 0.08366149,...","[[0.123328865, 0.07551881, 0.011088041, 0.1919..."
431,14432,P08_17,"[[0.32150513, 0.23288584, 0.29539204, 0.379329...","[[0.08577179, 0.7903393, 1.441351, 0.037490822...","[[0.41510776, 0.15730627, 0.13884242, 0.193048..."
432,14433,P08_17,"[[0.19462515, 0.3236742, 0.42935452, 0.6884499...","[[0.2706717, 0.23317184, 0.28099298, 0.2585801...","[[0.11073622, 0.027599376, 0.19928244, 0.05585..."
433,14434,P08_17,"[[0.19967644, 0.12127315, 0.081630394, 0.10148...","[[0.35042292, 0.9423034, 0.23200399, 0.1174515...","[[0.7727423, 0.09038317, 0.011737296, 0.776807..."
434,14435,P08_17,"[[0.08872443, 0.25127116, 0.024152985, 0.12715...","[[0.9389708, 0.51444983, 0.30707866, 0.4969634...","[[0.060889557, 0.25171977, 0.31035247, 0.16270..."

In [147]:
prova = pd.read_pickle(path_prova)
print(prova)

                                              features
0    {'uid': 13744, 'video_name': 'P08_09', 'featur...
1    {'uid': 13747, 'video_name': 'P08_09', 'featur...
2    {'uid': 13748, 'video_name': 'P08_09', 'featur...
3    {'uid': 13749, 'video_name': 'P08_09', 'featur...
4    {'uid': 13751, 'video_name': 'P08_09', 'featur...
..                                                 ...
430  {'uid': 14431, 'video_name': 'P08_17', 'featur...
431  {'uid': 14432, 'video_name': 'P08_17', 'featur...
432  {'uid': 14433, 'video_name': 'P08_17', 'featur...
433  {'uid': 14434, 'video_name': 'P08_17', 'featur...
434  {'uid': 14435, 'video_name': 'P08_17', 'featur...

[435 rows x 1 columns]

In [136]:
data

                                              features
0    {'uid': 13744, 'video_name': 'P08_09', 'featur...
1    {'uid': 13747, 'video_name': 'P08_09', 'featur...
2    {'uid': 13748, 'video_name': 'P08_09', 'featur...
3    {'uid': 13749, 'video_name': 'P08_09', 'featur...
4    {'uid': 13751, 'video_name': 'P08_09', 'featur...
..                                                 ...
430  {'uid': 14431, 'video_name': 'P08_17', 'featur...
431  {'uid': 14432, 'video_name': 'P08_17', 'featur...
432  {'uid': 14433, 'video_name': 'P08_17', 'featur...
433  {'uid': 14434, 'video_name': 'P08_17', 'featur...
434  {'uid': 14435, 'video_name': 'P08_17', 'featur...

[435 rows x 1 columns]

In [137]:
path_org = "saved_features/test_feat_kinetics_D1_test.pkl"
org = pd.DataFrame(pd.read_pickle(path_org)['features'])
org2 = pd.DataFrame(pd.read_pickle(path_org))

In [ ]:
org_path = "saved_features/test_feat_kinetics_D1_test.pkl"
data2 = pd.DataFrame(pd.read_pickle(org_path)['features'])

In [149]:
d1 = {'features':{'a':1,'b':2,'c':3}}
d2 = {'features':{'a':2,'b':3,'c':4}}
d3 = {'features':{'a':4,'b':5,'c':6}}
d4 = {'features':{'a':4,'b':5,'c':5}}
dl = [d1,d2,d3]
print(dl)
dl.append(d4)
print(dl)

dfinale = {'features':dl}

[{'features': {'a': 1, 'b': 2, 'c': 3}}, {'features': {'a': 2, 'b': 3, 'c': 4}}, {'features': {'a': 4, 'b': 5, 'c': 6}}]
[{'features': {'a': 1, 'b': 2, 'c': 3}}, {'features': {'a': 2, 'b': 3, 'c': 4}}, {'features': {'a': 4, 'b': 5, 'c': 6}}, {'features': {'a': 4, 'b': 5, 'c': 5}}]

In [150]:
dfinale

{'features': [{'features': {'a': 1, 'b': 2, 'c': 3}},
  {'features': {'a': 2, 'b': 3, 'c': 4}},
  {'features': {'a': 4, 'b': 5, 'c': 6}},
  {'features': {'a': 4, 'b': 5, 'c': 5}}]}

In [114]:
dl

[{'features': {'a': 1, 'b': 2, 'c': 3}},
 {'features': {'a': 2, 'b': 3, 'c': 4}},
 {'features': {'a': 4, 'b': 5, 'c': 6}}]

In [115]:
df = pd.DataFrame(dl)

In [116]:
df

                   features
0  {'a': 1, 'b': 2, 'c': 3}
1  {'a': 2, 'b': 3, 'c': 4}
2  {'a': 4, 'b': 5, 'c': 6}

In [118]:
df['features']

0    {'a': 1, 'b': 2, 'c': 3}
1    {'a': 2, 'b': 3, 'c': 4}
2    {'a': 4, 'b': 5, 'c': 6}
Name: features, dtype: object