In [156]:
import pandas as pd
import hickle
import numpy as np
import pickle

In [157]:
def writePickle(filename,a):
    with open(filename, 'wb') as handle:
        pickle.dump(a, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [158]:
def addElementToDict(d,subfeat,len,new_c,new_c_name):
    #new_c : new coloumn
    d_out = d
    for i in range(0,len):
        d_out[subfeat][i][new_c_name] = new_c[i,:,:]    
    return d_out

In [174]:
def mergeDatasets(domain,source):
    org_path = "saved_features/test_feat_kinetics_"+domain+"_"+source+".pkl"
    audio_path = "audio_feat/"+domain+"-"+domain+"_"+source+"_Spec_TSN_.pkl"
    data = pd.DataFrame(pd.read_pickle(org_path))
    dic_org = pd.read_pickle(org_path)

    with open(audio_path, 'rb') as f:
        prova= hickle.load(f)

    new_feats = prova["\'features\'"]["\'Spec\'"][0]
    
    #Method 1
    #old_dataset = data.to_dict()
    old_dataset = dic_org
    new_dataset = addElementToDict(old_dataset,"features",data.shape[0],new_feats,"features_Audio")
    
    filename = "RGB_Audio_features/test_feat_rgb_audio_"+domain+"_"+source+".pkl"
    writePickle(filename,new_dataset)
    #df.to_pickle(filename)

In [176]:
#original features path:
domain = ["D1","D2","D3"]
source = ["train","test"]

for d in domain:
    for s in source:
        mergeDatasets(d,s)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/hickle/lookup.py:1547: DataRecoveredWarning: loader 'b'!recover!'' missing for 'AttemptRecoverCustom' type object. Data recovered (data)
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/hickle/lookup.py:1523: DataRecoveredWarning: loader 'b'!recover!'' missing for 'AttemptRecoverCustom' type object. Data recovered (data)
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/hickle/lookup.py:1547: DataRecoveredWarning: loader 'b'!recover!'' missing for 'AttemptRecoverCustom' type object. Data recovered (data)
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/hickle/lookup.py:1523: DataRecoveredWarning: loader 'b'!recover!'' missing for 'AttemptRecoverCustom' type object. Data recovered (data)
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/hickle/lookup.py:1547: DataRecoveredWarning: loader 'b'!recover!'' missing for 'AttemptRecoverCustom' type object. Data recovered (data)
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/hickle/lookup.py:1523: DataRecoveredWarning: loader 'b'!recover!'' missing for 'AttemptRecoverCustom' type object. Data recovered (data)
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/hickle/lookup.py:1547: DataRecoveredWarning: loader 'b'!recover!'' missing for 'AttemptRecoverCustom' type object. Data recovered (data)
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/hickle/lookup.py:1523: DataRecoveredWarning: loader 'b'!recover!'' missing for 'AttemptRecoverCustom' type object. Data recovered (data)
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/hickle/lookup.py:1547: DataRecoveredWarning: loader 'b'!recover!'' missing for 'AttemptRecoverCustom' type object. Data recovered (data)
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/hickle/lookup.py:1523: DataRecoveredWarning: loader 'b'!recover!'' missing for 'AttemptRecoverCustom' type object. Data recovered (data)
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/hickle/lookup.py:1547: DataRecoveredWarning: loader 'b'!recover!'' missing for 'AttemptRecoverCustom' type object. Data recovered (data)
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/hickle/lookup.py:1523: DataRecoveredWarning: loader 'b'!recover!'' missing for 'AttemptRecoverCustom' type object. Data recovered (data)
  warnings.warn(

# Prove

In [177]:
path_prova = "RGB_Audio_features/test_feat_rgb_audio_D1_test.pkl"
data = pd.DataFrame(pd.read_pickle(path_prova)['features'])

In [178]:
data

,uid,video_name,features_RGB,features_Audio
0,13744,P08_09,"[[0.13747904, 0.23923221, 0.2590953, 0.0984913...","[[0.8848364353179932, 0.09178006649017334, 0.4..."
1,13747,P08_09,"[[0.1731059, 0.028000666, 0.071734056, 0.09211...","[[0.5805650949478149, 0.07894320785999298, 0.1..."
2,13748,P08_09,"[[0.21590331, 0.043752804, 0.43052337, 0.29836...","[[1.4360419511795044, 0.6993998885154724, 0.12..."
3,13749,P08_09,"[[0.12467901, 0.2825011, 0.5454443, 0.24309717...","[[0.33839666843414307, 0.3665079176425934, 0.5..."
4,13751,P08_09,"[[0.26293403, 0.012039756, 0.20156315, 0.10622...","[[1.8363720178604126, 0.8108800649642944, 0.24..."
...,...,...,...,...
430,14431,P08_17,"[[0.08767702, 0.0003429865, 0.41994748, 0.0334...","[[0.858806312084198, 1.6948118209838867, 0.599..."
431,14432,P08_17,"[[0.32150513, 0.23288584, 0.29539204, 0.379329...","[[0.08577179163694382, 0.7903392910957336, 1.4..."
432,14433,P08_17,"[[0.19462515, 0.3236742, 0.42935452, 0.6884499...","[[0.27067169547080994, 0.23317183554172516, 0...."
433,14434,P08_17,"[[0.19967644, 0.12127315, 0.081630394, 0.10148...","[[0.3504229187965393, 0.9423034191131592, 0.23..."
434,14435,P08_17,"[[0.08872443, 0.25127116, 0.024152985, 0.12715...","[[0.9389708042144775, 0.5144498348236084, 0.30..."

In [147]:
prova = pd.read_pickle(path_prova)
print(prova)

                                              features
0    {'uid': 13744, 'video_name': 'P08_09', 'featur...
1    {'uid': 13747, 'video_name': 'P08_09', 'featur...
2    {'uid': 13748, 'video_name': 'P08_09', 'featur...
3    {'uid': 13749, 'video_name': 'P08_09', 'featur...
4    {'uid': 13751, 'video_name': 'P08_09', 'featur...
..                                                 ...
430  {'uid': 14431, 'video_name': 'P08_17', 'featur...
431  {'uid': 14432, 'video_name': 'P08_17', 'featur...
432  {'uid': 14433, 'video_name': 'P08_17', 'featur...
433  {'uid': 14434, 'video_name': 'P08_17', 'featur...
434  {'uid': 14435, 'video_name': 'P08_17', 'featur...

[435 rows x 1 columns]

In [136]:
data

                                              features
0    {'uid': 13744, 'video_name': 'P08_09', 'featur...
1    {'uid': 13747, 'video_name': 'P08_09', 'featur...
2    {'uid': 13748, 'video_name': 'P08_09', 'featur...
3    {'uid': 13749, 'video_name': 'P08_09', 'featur...
4    {'uid': 13751, 'video_name': 'P08_09', 'featur...
..                                                 ...
430  {'uid': 14431, 'video_name': 'P08_17', 'featur...
431  {'uid': 14432, 'video_name': 'P08_17', 'featur...
432  {'uid': 14433, 'video_name': 'P08_17', 'featur...
433  {'uid': 14434, 'video_name': 'P08_17', 'featur...
434  {'uid': 14435, 'video_name': 'P08_17', 'featur...

[435 rows x 1 columns]

In [137]:
path_org = "saved_features/test_feat_kinetics_D1_test.pkl"
org = pd.DataFrame(pd.read_pickle(path_org)['features'])
org2 = pd.DataFrame(pd.read_pickle(path_org))

In [ ]:
org_path = "saved_features/test_feat_kinetics_D1_test.pkl"
data2 = pd.DataFrame(pd.read_pickle(org_path)['features'])

In [149]:
d1 = {'features':{'a':1,'b':2,'c':3}}
d2 = {'features':{'a':2,'b':3,'c':4}}
d3 = {'features':{'a':4,'b':5,'c':6}}
d4 = {'features':{'a':4,'b':5,'c':5}}
dl = [d1,d2,d3]
print(dl)
dl.append(d4)
print(dl)

dfinale = {'features':dl}

[{'features': {'a': 1, 'b': 2, 'c': 3}}, {'features': {'a': 2, 'b': 3, 'c': 4}}, {'features': {'a': 4, 'b': 5, 'c': 6}}]
[{'features': {'a': 1, 'b': 2, 'c': 3}}, {'features': {'a': 2, 'b': 3, 'c': 4}}, {'features': {'a': 4, 'b': 5, 'c': 6}}, {'features': {'a': 4, 'b': 5, 'c': 5}}]

In [150]:
dfinale

{'features': [{'features': {'a': 1, 'b': 2, 'c': 3}},
  {'features': {'a': 2, 'b': 3, 'c': 4}},
  {'features': {'a': 4, 'b': 5, 'c': 6}},
  {'features': {'a': 4, 'b': 5, 'c': 5}}]}

In [114]:
dl

[{'features': {'a': 1, 'b': 2, 'c': 3}},
 {'features': {'a': 2, 'b': 3, 'c': 4}},
 {'features': {'a': 4, 'b': 5, 'c': 6}}]

In [115]:
df = pd.DataFrame(dl)

In [116]:
df

                   features
0  {'a': 1, 'b': 2, 'c': 3}
1  {'a': 2, 'b': 3, 'c': 4}
2  {'a': 4, 'b': 5, 'c': 6}

In [118]:
df['features']

0    {'a': 1, 'b': 2, 'c': 3}
1    {'a': 2, 'b': 3, 'c': 4}
2    {'a': 4, 'b': 5, 'c': 6}
Name: features, dtype: object